<html>
    <body>
        <h1>CADASTRO        </h1>
        <form action="/cadastro" method="POST">
        <p>
            Marca: <select name="marca" >
                <option value="VW">VW</option>
                <option value="GM">GM</option>
                <option value="Ford">FORD</option>
                <option value="Fiat">FIAT</option>
            </select>
        </p>
        <p>
            Modelo: <input type="text" name="modelo" value="">
        </p>
        <p>
            Ano: <input type="text" name="ano" value="2019">
        </p>
        <p>
            <input type="submit" value="Salvar"/>
        </p>
        </form>
    </body>
</html>