<html>
    <body>
        <h1>Cadatro de Produto</h1>
        <form action=" /cadastro" method ="POST">
            <p>
                Nome: <input type="text" name= "nome"value = "" />
            </p>
            <p>
                Categoria: <select name ="categoria" >
                    <option value="Alimentos">Alimentos</option>
                    <option value="Higiene">Higiene</option>
                    <option value="Hortifruti">Hortifruti</option>
                </select>
            </p>
            <p>
                Preco: <input type="number" name ="preco"value= 1,99 />
            </p>
            <p>
                <input type="submit" value="Salvar" />
            </p>
        
        </form>
    </body>
</html>